/react-app/.idea
/www/.idea
/react-app/node_modules
/.idea
/back-end/node_modules
/react-app/src/assets/styles/.sass-cache
/react-app/build
/react-app/package-lock.json
/back-end/package-lock.json
/admin-panel/package-lock.json
/admin-panel/node_modules
/admin-panel/.idea
/admin-panel/src/assets/styles/.sass-cache
/back-end/.idea
/admin-panel/build
/.aws-sam
/build-fix/node_modules/
/.DS_Store
/backend/node_modules/
/MDG/app/node_modules/
/.vscode
